// -- REMOVE ---------------------------
body {}

// -- STYLES HERE ---------------------------
body, html, .bodytable, .mainbgcolor {background-color: $base-color;}

body {
      width: 100%!important; 
      height: 100% !important;
      margin:0;
      padding:0;
      font-family:$body-font;
    }

    img {display: block}

 
.main-table {}

.top-wrapper {}
	.top-wrapper .main-table {}

h1 {
	color: $base-color;
	background: $third-color;
}
