<div class="navbar ">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-03">
      </button>
      <a href="/index" class="brand">StudyGroup</a>
      <div class="nav-collapse collapse" id="nav-collapse-03">
        <ul class="nav">
          <li class="active">
            <a href="/index">Home</a>
          </li>
          <li>
            <a href="/template_1column" target="_blank">Email 1</a>
          </li>
        </ul> <!-- /nav -->

        <ul class="nav pull-right">
          <li class="divider"></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Settings <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#fakelink">Action</a></li>
              <li><a href="#fakelink">Another action</a></li>
              <li><a href="#fakelink">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#fakelink">Separated link</a></li>
            </ul>
          </li>
        </ul> <!-- /nav -->
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div> <!-- /navbar-inverse -->