{% block content %}   
	<div class="container">
		<div class="row">
			<div class="span12">
				<table class="table table-bordered">
					<tr>
						<td>
							<h3>Welcome to the template editor for eshots. </h3>
							<br>
							<p>1. Change the variables in <code>Route: sass/_variables.scss</code> (SASS).</p>
							<p>2. Replace the images (logos and images) in <code>Route: sass/img</code>.</p>
							<p>3. Select a preview layout for emails:</p>
							<a href="/template_1column" class="btn btn-embossed btn-primary btn-small">One column (Anouncement)</a>
							<a href="/template_2column" class="btn btn-embossed btn-primary btn-small">One column + Sidebar (Newsletter)</a>
							
							<br><br>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>





{% endblock %}