{% layout "email_1" %}
{% block content %}   

<table class="contenttable header" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px;">
	<tr>
		<td><img src="http://placehold.it/600x150" alt="" style="max-width: 100%;"/>
		</td>
	</tr>
</table>

<table class="contenttable heading" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px;">
	<tr>
		<td>HEADING
		</td>
	</tr>
</table>

<table class="contenttable main-image" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px;">
	<tr>
		<td><img src="http://placehold.it/600x300" alt="" style="max-width: 100%;"/>
		</td>
	</tr>
</table>

<table class="contenttable subheading" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px;">
	<tr>
		<td>SUBHEADING
		</td>
	</tr>
</table>

<table class="contenttable" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px;">
<tr>
    <td>
    <table class="column"  width="290" border="0" cellspacing="0" cellpadding="20" align="left" bgcolor="#00ff00">
      <tr>
        <td><p>Column Left Content</p></td>

      </tr>
    </table>
    <table class="column"  width="290" border="0" cellspacing="0" cellpadding="20" align="right" bgcolor="#ffff00">
      <tr>
        <td><p>Column Right Content</p></td>
      </tr>
    </table>
    </td>
  </tr>
</table>

<table class="contenttable subheading" border="0" cellpadding="0" cellspacing="0" style="width: 100%; max-width: 600px;">
	<tr>
		<td>FOOTER
		</td>
	</tr>
</table>

{% endblock %}